<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enterprise Architecture Word of the Day: <%= word %></h1>
    <p>
      Enterprise Architecture Meme Generator &middot; &copy; 2013 <a href="http://blog.jensenwaud.com/">Anders Jensen-Waud</a>. This app was written with Node, Express, and NeDB. Fork <a href="https://github.com/ajensenwaud/eamemes"> the source code on Github</a>.
    </p>
  </body>
</html>
