<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enterprise Architecture Phrase of the Day: <%= word %></h1>
    <p>
		Enterprise Architecture Meme Generator &middot; &copy; 2013 <a href="http://blog.jensenwaud.com/">Anders Jensen-Waud</a>. &middot; 
		This open source app was written using <a href="http://nodejs.org/">Node</a>, <a href="http://expressjs.com/">Express</a>, and <a href="https://github.com/louischatriot/nedb/">NeDB</a> running on <a href="http://FreeBSD.org/">FreeBSD</a>. Fork <a href="https://github.com/ajensenwaud/eamemes"> the source code on Github</a>.

    </p>
  </body>
</html>
