body
  padding: 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #f6f5ed
  color: #484848
a
  color: #00B7FF
h1
  padding: 0px
  font: 36px "Lucida Grande", Helvetica, Arial, sans-serif
